<div class="row">
    <div class="col-xs-12 col-md-11 mx-auto">
        <div class="container-section">
            <h2><b>Experiencia</b> 
                <app-add-button
                right="-15px"
                top="-40px"
                color="black"
                >
                </app-add-button>
            </h2>
            <h3><b>Backend Developer</b>
                <app-edit-button 
                    top="-30px"
                    right="25px"
                >
                </app-edit-button>
                <app-delete-button
                    top="-30px"
                    right="-15px"
                >

                </app-delete-button>
            </h3>
            <p>Pixar - Jornada Parcial</p>
            <h5>mar 2019 - actualidad - 2 años y 6 meses</h5>
            <h5>Guadalajara y alrededores, Mexico</h5>
            
        </div>
    </div>
</div>
