
.headerContainer{
    position:relative;
    margin: 5px;
    overflow: auto;
    max-width: 100%;
    min-height: 30rem;
    border: 2px solid lightblue;
    border-radius: 30px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
}


.imgBackground{
    position:absolute;
    width:100%;
    height:50%;
}  


.headerIcon{
    position:absolute;
    top: 5px;
    right:10px;
    cursor:pointer;
    width: 25px;
    height: 25px; 
    border-radius: 50%;    
}


.headerIcon:hover{
    background-color:rgba(128,128,128, 0.5);
}

.container-profile{
    position:absolute;
    display:flex;
    
}

.imgProfile{
    position:absolute;
    transform:translateY(90%);
    margin-left:5px;
    width:168px;
    height:168px;
    border-radius: 50%;
    background-color:white;
    padding: 4px;
}

.profileIcon{
    position:absolute;
    top: 60%;
    left:165px;
    cursor:pointer;
    width: 25px;
    height: 25px; 
    border-radius: 50%;    
}


.profileIcon:hover{
    background-color:rgba(128,128,128, 0.5);
}

.headerBtns{
    position:relative;
    display:flex;
    justify-self:flex-start;
    align-self:flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.btn-light, .btn-primary{
    font-weight: bold;
}