<header class="headerContainer">
   <div>
      <img class="imgBackground" src="https://as2.ftcdn.net/v2/jpg/01/98/49/61/1000_F_198496190_TRgMtAnmx20H51DgZdCX5zgphwXynuQ7.jpg" alt="Fondo de perfil">
      <span class="material-icons  headerIcon" style="color:white">edit</span>
   </div>
   
      <div>
         <img class="imgProfile" src="https://images.mediotiempo.com/pBzNnwe3LJgiB_nOWO_OiqBNLvY=/958x596/uploads/media/2019/08/20/keanu-reeves-volvera-papel-neo.jpg" alt="Imagen de Perfil">
         <span class="material-icons  profileIcon" style="color:black">edit</span>
      </div>

   <div class="headerBtns">
      <div class="btn-group">
         <button type="button" class="btn btn-primary">Primary</button>
         <button type="button" class="btn btn-light">Agregar Seccion</button>
         <button type="button" class="btn btn-light">Más</button>
      </div>


   </div>
      
   
   
   
</header>

   


