<div class="row">
    <div class="col-xs-12 col-md-11 mx-auto">
        <div class="headerContainer">
            <app-backgound-header></app-backgound-header>
            
            <app-profile-picture></app-profile-picture>
            <div class="col-xs-2 about-info">
                <h3>Maximiliano Lucero</h3>
                <p>Estudiante en Argentina Programa</p>
                <p>Córdoba,Córdoba(Argentina)</p>
            </div>
            
            <app-header-buttons></app-header-buttons>
    
        </div>
    </div>
</div>


   


