
.headerContainer{
    margin: 5px;
    min-height: 30rem;
    border: 2px solid lightblue;
    border-radius: 30px; 
}

p{
    margin-left: 15px;
    display: flex;
    padding:0px;
    margin-bottom: 0px;
}

h3{
    margin-bottom: 0px;
    margin-left: 15px;
    padding:0px;

}

.about-info{
    padding:10px;
}


