<div class="row">
    <div class="col-xs-12 col-md-11 mx-auto">
        <div class="container-section">
            <h2><b>Proyectos</b> 
                <app-add-button
                right="-15px"
                top="-40px"
                color="black"
                >
                </app-add-button>
            </h2>
            <ul>
                <li>
                    <h4>
                        <a href="" target="-blank">MiPortfolio</a>
                    </h4>
                    <app-edit-button 
                            top="-30px"
                            right="35px"
                        >
                        </app-edit-button>
                        <app-delete-button
                            top="-30px"
                            right="-0.5px"
                        >
                        </app-delete-button>
                    <p>Pequeño texto de descripcion de cada proyecto, finalidad y en que tecnologias</p>
                </li>
            </ul>
        </div>
