<div class="row">
    <div class="col-xs-12 col-md-11 mx-auto">
        <div class="container-section">
            <h2><b>Educación</b> 
                <app-add-button
                right="-15px"
                top="-40px"
                color="black"
                >
                </app-add-button>
            </h2>
            <h3><b>UTN</b>
                <app-edit-button 
                    top="-30px"
                    right="25px"
                >
                </app-edit-button>
                <app-delete-button
                    top="-30px"
                    right="-15px"
                >

                </app-delete-button>
            </h3>
            <p>Ingenieria, Sistemas Computacionales</p>
            <h6>2019 - 2023</h6>    
        </div>
    </div>
</div>