div{
    display: flex;
    max-height: 90px;
}
.imgProfile{
    position:relative;
    transform:translateY(-50%);
    margin-left:5px;
    width:168px;
    height:168px;
    border-radius: 50%;
    background-color:white;
    padding: 4px;
}
@media(max-width: 720px){
    .image-container{
        justify-content: center;
    }
    .imgProfile{
        width:200px;
        height:200px
    }
}