<div class="row">
    <div class="col-xs-12 col-md-11 mx-auto">
        <div class="container-section">
            <h2><b>Hard Skills & Soft</b> 
                <app-add-button
                right="-15px"
                top="-40px"
                color="black"
                >
                </app-add-button>
            </h2>
            <ul>
                <h4><b>Hard Skills</b></h4>
                <li>
                    <div class="progress-container col-xs-11 col-md-10 mx-auto">
                        <h5>Javascript</h5>
                        <app-edit-button 
                            top="-30px"
                            right="30px"
                        >
                        </app-edit-button>
                        <app-delete-button
                            top="-30px"
                            right="-5px"
                        >
                        </app-delete-button>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                </li>
            </ul>
            <ul>
                <h4><b>Soft Skills</b></h4>
                <li>
                    <div class="progress-container col-xs-11 col-md-10 mx-auto">
                        <h5>Trabajo en Equipo</h5>
                        <app-edit-button 
                            top="-30px"
                            right="30px"
                        >
                        </app-edit-button>
                        <app-delete-button
                            top="-30px"
                            right="-5px"
                        >
                        </app-delete-button>
                        <div class="progress ">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                </li> 
            </ul>
                
        </div>
    </div>
</div>